{% extends "admin/base_site.html" %}
{% load i18n %}
{% load admin_black %}
{% get_admin_black_setting as admin_black_setting %}

{% block content %}
    <div class="row white-content" style="
        min-height: 100vh;
        display: flex;
        align-items: center;"
    >
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header {{ direction.panel }}">
                    <h5 class="title">{% trans 'Log in' %}</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-footer text-center">
                                <a href="{% url 'admin:index' %}" class="btn btn-lg btn-fill btn-primary">{% trans 'Log in again' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "../admin/admin_black_setting.html" %}
{% endblock %}

{% block extrascript %}
    <script type="application/javascript">
        notification.info("<p class='{{ direction.panel }}'>" + "{% trans "Thanks for spending some quality time with the Web site today." %}" + "</p>", 'top', '{{ direction.notify }}');
    </script>
{% endblock %}
